<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- bootstrap-table -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
	<h1>HEllO</h1>
	<!-- <div th:each="selectPostList:${selectPostList}">
		<span th:text="${selectPostList.postId}"></span>
		<span th:text="${selectPostList.postCode}"></span>
		<span th:text="${selectPostList.postName}"></span>
		<span th:text="${selectPostList.createTime}"></span>
	</div> -->
	
	<!-- <button data-toggle="modal" data-target="#myModal">点击我触发模态框</button> -->
	<a data-toggle="modal" href="Modal-toggle.html" data-target="#modal">请点击我</a>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-remote="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
            </div>
            <div class="modal-body">
				 <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="uname" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" id="uname" name="uname" class="form-control well" placeholder="请输入用户名"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="upwd" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-9">
                            <input type="password" id="upwd" name="upwd" class="form-control well" placeholder="请输入密码"/>
                        </div>
                    </div>
                </form>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="password">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
	$("password").click(function(){
		var name = $("uname").val();
		var pwd = $("upwd").val();
		var data = "name="+name+"&pwd="+pwd;
		
		$.ajax({
			"url":"/SysPost/change",
			"data":data,
			"dataType":"JSON",
			"type":"POST",
			"success":function(obj){
				
			}
		})
	})
</script>
</body>
</html>